---
layout: startpage
title: MIB
---

<div id="page-wrapper">

  <!-- Intro -->
  <div id="intro-wrapper" class="wrapper style1">
    <div class="title">The Introduction</div>
    <section id="intro" class="container">
      <p class="style1">So in case you were wondering what this is all about ...</p>
      <p class="style2">
	We are the student association of all Mathematics and
	      Computer Science students at the University of Bern.
      </p>
      <p class="style3">The goal of this website is to provide us a platform, where we can build for us and all following students a collection of usefull <strong>resources</strong>, to make our study easier.</p>
      <ul class="actions">
	<li><a href="#" class="button style3 big">Proceed</a></li>
      </ul>
    </section>
  </div>

  <!-- Main -->
  <div class="wrapper style2">

    <!-- News -->
    <div class="title">News</div>

    <div id="main" class="container">
      {% include /feeds/news_feed_content_minimal.html %}


    </div>
  </div>
  {% include feeds/events_container.html %}
