---
layout: startpage
title: MIB
---

<div id="page-wrapper">

  <!-- Intro -->
  <div id="intro-wrapper" class="wrapper style1">
    <div class="title">The Introduction</div>
    <section id="intro" class="container">
      <p class="style1">{{site.data.introduction.pre }}</p>
      <p class="style2">
	{{site.data.introduction.heading }}
      </p>
      <p class="style3">{{site.data.introduction.main}}</p>


    </section>
  </div>



  <!-- Main -->
  <div class="wrapper style2">

    <!-- News -->
    <div class="title">News</div>

    <div id="main" class="container">
      {% include /feeds/news_feed_content_minimal.html %}


    </div>
  </div>
  {% include feeds/events_container.html %}
