---
layout: startpage
title: News
---
<div id="page-wrapper">

  <!-- Main -->
  <div class="wrapper style3">
    <div class="title">News</div>
    <div id="main" class="container">
      <div class="row 150%">
	<div class="4u 12u(mobile)">

	  <!-- Sidebar -->
	  <div id="sidebar">

	    {% include feeds/events_sidebar_box.html %}
	  </div>
	</div>
	<div class="8u 12u(mobile) important(mobile)">

	  {% include feeds/news_feed_content_endless.html %}
	  </div>

	</div>
      </div>
    </div>
  </div>
