<!-- Footer -->
<div id="footer-wrapper" class="wrapper">
  <div class="title">Contact</div>
  <div id="footer" class="container">
    <header class="style1">
      <h2>Contact</h2>
      <p>
	Questions, wishes, thoughts?<br />
	Please contact us.
      </p>
    </header>
    <hr />
    <div class="row 150%">
      <div class="6u 12u(mobile)">

	<!-- Contact -->
	<section class="feature-list small">

	  <div class="row">
	    <div class="6u 12u(mobile)">
	      <section>
		<h3 class="icon fa-home"></h3>
		<p>
		  {{site.data.contact.address }}
		</p>
	      </section>
	    </div>

	    <div class="6u 12u(mobile)">
	      <section>
		<h3 class="icon fa-comment"></h3>
		<p>

		  <a href="https://github.com/{{site.data.contact.github}}"><i class='fa fa-github'></i>Github</a></br>
		  <a href="https://facebook.com/{{site.data.contact.facebook}}"><i class='fa fa-facebook-official'></i>Facebook</a></br>

		</p>
	      </section>
	    </div>
	    <div class="6u 12u(mobile)">
	      <section>
		<h3 class="icon fa-envelope"></h3>
		<p>
		  <a href="mailto:{{site.email}}">{{ site.email}}</a>
		</p>
	      </section>
	    </div>
	    <!--

		</div>

	  <div class="row">
	    <div class="6u 12u(mobile)">
	      <section>
		<h3 class="icon fa-envelope">Email</h3>
		<p>
		  {{ site.email }}
		</p>
	      </section>
	    </div>

	    <div class="6u 12u(mobile)">
	      <section>
		<h3 class="icon fa-phone">Phone</h3>
		<p>
		  (000) 555-0000
		</p>
	      </section>
	    </div>
	    -->

	  </div>
	</section>

      </div>
    </div>
    <hr />
  </div>
  <div id="copyright">
    <ul>
      <li>&copy; Fachschaft Mathematik und Informatik Bern.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</div>

</div>
