<!-- Footer -->
<div id="footer-wrapper" class="wrapper">
  <div class="title">Contact</div>
  <div id="footer" class="container">
    <header class="style1">
      <h2>Contact</h2>
      <p>
	Questions, wishes, thoughts?<br />
	Please contact us.
      </p>
    </header>
    <hr />
    <div class="row 150%">
      <div class="6u 12u(mobile)">


	<!-- Contact Form //flipmail.co/api/14InapDMatuSCg1W8SI8-->
	<section>
	  <form action="http://formspree.io/math.info.bern@gmail.com"
		method="post">
	    <div class="row 50%">
	      <div class="6u 12u(mobile)">
		<input type="text" name="name" id="contact-name"
		       placeholder="Name" />
	      </div>
	      <div class="6u 12u(mobile)">
		<input type="email" name="email" id="contact-email"
		       placeholder="Email" />
	      </div>
	    </div>

	    <div class="row 50%">
	      <div class="12u">
		<textarea name="message" id="contact-message"
			  placeholder="Message" rows="4"></textarea>
	      </div>
	    </div>
	    <div class="row">
	      <div class="12u">
		<ul class="actions">
		  <li><input type="submit" class="style1"
			     value="Send" /></li>
		  <li><input type="reset" class="style2"
			     value="Reset" /></li>
		</ul>
	      </div>
	    </div>



      </div>
      <div class="6u 12u(mobile)">

	<!-- Contact -->
	<section class="feature-list small">

	  <div class="row">
	    <div class="6u 12u(mobile)">


	      <section>
		<h3 class="icon fa-home">Mailing Address</h3>
		<p>
		  {{site.data.contact.address }}
		</p>
	      </section>
	    </div>
	    <div class="6u 12u(mobile)">
	      <section>
		<h3 class="icon fa-comment">Social</h3>
		<p>

		  <a href="https://github.com/{{site.data.contact.github}}"><i class='fa fa-github'></i>Github</a></br>
		  <a href="https://facebook.com/{{site.data.contact.facebook}}"><i class='fa fa-facebook-official'></i>Facebook</a>
		</p>
	      </section>
	    </div>
	  </div>


	  <div class="row">
	    <div class="6u 12u(mobile)">
	      <section>
		<h3 class="icon fa-envelope">Email</h3>
		<p>
		  {{ site.email }}
		</p>
	      </section>
	    </div>
	    <!--
		<div class="6u 12u(mobile)">
		  <section>
		    <h3 class="icon fa-phone">Phone</h3>
		    <p>
		      (000) 555-0000
		    </p>
		  </section>
		</div>
		-->
	  </div>
	</section>

      </div>
    </div>
    <hr />
  </div>
  <div id="copyright">
    <ul>
      <li>&copy; Fachschaft Mathematik und Informatik Bern.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</div>

</div>
