<!-- Header -->
  <div id="header-wrapper" class="wrapper">
    <div id="header">

      <!-- Logo -->
      <div id="logo">
	<h1>MIB</h1>
	<p>Fachschaft Mathematik und Informatik der Universität Bern</p>
      </div>

      <!-- Nav -->
      <nav id="nav">
	<ul>
	  <li class="current">
	    <a href="{{base}}/index.html">Home</a>
	  </li>
	  <!--
	  <li>
	    <a href="#">Menü</a>
	    <ul>
	      <li><a href="#">Exam Collection</a></li>
	      <li><a href="#">Guide</a></li>
	      <li><a href="#">Who we are</a></li>
	    </ul>
	  </li>
	  -->
	  <li><a href="{{base}}/news.html">News</a></li>
	  <li><a href="{{base}}/resources">Resources</a></li>
	  <li><a href="{{base}}/about">About</a></li>
	</ul>
      </nav>

    </div>
  </div>
