---
layout: startpage
title: MIB
base: ..
---

<div id="page-wrapper">

  <!-- Intro
  <div id="intro-wrapper" class="wrapper style1">
    <div class="title">The Introduction</div>
    <section id="intro" class="container">
      <p class="style1">{{site.data.introduction.pre }}</p>
      <p class="style2">{{site.data.introduction.heading }}</p>
      <p class="style3">{{site.data.introduction.main}}</p>
    </section>
  </div>
-->

  {% for guide in site.guides  %}
  {% if guide.title=="Books" %}
  {% include guide/bookguide.html bookguide=guide %}

  {% endif %}
  {% endfor %}
