<!DOCTYPE HTML>

<!--Template to use for a markdown page. -->

<html>
  {% include head.html %}

  <body class="no-sidebar">

    {% include header.html%}
    <div id="page-wrapper">



      <!-- Main -->
      <div class="wrapper style2">
	<div class="title">{{page.title}}</div>
	<div id="main" class="container">
	  <div class="row 150%">

	      <!-- Content -->
	      <div id="content">
		<article class="box post">
		  <header class="style1">
		    <h2>{{page.title}}</h2>
		    {% if page.subtitle %}
		    <p>{{page.subtitle}}</p>
		    {% endif %}
		  </header>
		  {% if page.image %}
		  <img style="max-width:600px;"
		       src="{{site.url}}/images/post/{{page.image}}"
		       alt="" />
		  {% endif %}
		  {{content}}
		</article>


	      </div>
	  </div>
	</div>
      </div>
      {% include footer.html %}
      {% include scripts.html %}
  </body>

</html>
